.icon-shopping-cart {
  width: 40px;
}

main {
  /* background-color: rgb(94, 236, 255); */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 30px;
}

aside {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  width: 370px;
}

img {
  display: flex;
}

.section1 {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}

.product-description {
  line-height: 30px;
}
